<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>{% block title %}Garage{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'hardware/bootstrap.min.css' %}">
    <!--<link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet"> -->
    <!--<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="{% static 'hardware/style.css' %}?e=2"/>
    <script src="{% static 'hardware/js/jquery.min.js' %}"></script>
    <script src="{% static 'hardware/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'hardware/js/main.js' %}?h=8"></script>
    {% block scripts %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'hardware:index' %}">Garage</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'hardware:login_user' %}">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
