{% extends 'hardware/base.html' %}
{% block devices_active %}active{% endblock %}
{% block title %}Devices list{% endblock %}
{% block body %}
<div class="films-container container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <h3>Hardware</h3>
        </div>
        {% if devices %}
            {% for device in devices %}
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        {% if device.image %}
                            {% load cropping %}
                            <img src="{% cropped_thumbnail device "cropped_image" %}" class="img-responsive">
                        {% endif %}
                        <div class="caption">
                            <h3>{{ device.name }}</h3>
                            <h4>Relay #{{ device.relay.number }}</h4>
                            <!-- Turn on/off -->
                            <a href="{% url 'hardware:device_on' device.id %}" class="btn btn-primary {% if device.is_active %}active{% endif %} ajax-link" role="button">Turn {% if device.is_active %}off{% else %}on{% endif %}</a>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% else %}
            <div class="col-sm-12">
                <br>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
